<div class="container">
    <div class="row-auto">

        <div ng-if="vm.exibirAlerta" style="cursor: pointer;" class="alert alert-dismissible fade show" role="alert"
            ng-class="vm.classeDoAlerta" ng-click="vm.fecharAlerta()">
            <strong> {{ vm.mensagemDoAlerta }} </strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="vm.fecharAlerta()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="col-auto">
            <p class="lead font-weight-normal text-lg-left font-weight-lighter text-dark mb-4 mt-2">Lista de Alunos</p>

            <table class="table table-borderless table-hover table-sm table-striped">
                <thead class="text-center">
                    <tr style="padding: 50px;">
                        <th class="text-left">Matrícula</th>
                        <th class="text-center w-25">Nome</th>
                        <th class="text-center w-25">Email</th>
                        <th class="text-center w-25">Telefone</th>
                        <th class="text-center w-25">Status</th>
                        <th class="text-center px-3">
                            <button type="button" title="Incluir" class="btn btn-success btn-icon shadow-sm px-3 btn-sm"
                                style="display: flex; align-items: center;" ng-click="vm.novo()">
                                <i class="fas fa-user-plus mr-2"></i>
                                NOVO
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="aluno in vm.alunos">
                        <td class="text-center align-middle"> {{ aluno.matricula }} </td>
                        <td class="align-middle"> {{ aluno.nome }} </td>
                        <td class="text-center align-middle"> {{ aluno.email }} </td>
                        <td class="text-center align-middle"> {{ aluno.telefone }} </td>
                        <td class="text-center align-middle"> {{ jaFezCurso }} </td>
                        <td class="text-center align-middle">
                            <span title="Preencha todos os dados obrigatórios corretamente">
                                <button type="button" class="btn btn-info btn-sm shadow-sm"
                                    ng-click="vm.editar(aluno._id)">
                                    <i class="fas fa-user-edit"></i>
                                </button>
                            </span>
                            |
                            <button type="button" class="btn btn-danger btn-sm shadow-sm" title="Excluir"
                                data-toggle="modal" data-target="#modalExcluir" ng-click="vm.alunoParaExcluir = aluno">
                                <i class="fas fa-user-minus"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <th style="padding: 1.5%; padding-left: 0; border-bottom: 1px solid #dee2e6;" scope="colgroup"
                        colspan="4">Total: {{ vm.alunos.length }}</th>
                    <p></p>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<!-- Modal de Excluir -->
<div class="modal fade clearfix keyboard-focused" data-backdrop="static" id="modalExcluir" tabindex="-1" role="dialog"
    aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" keyboard="false">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">
                    Confirmar exclusão
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Tem certeza que deseja excluir o aluno selecionado ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="vm.excluir();">
                    Sim
                </button>
                <button type="button" class="btn btn-secondary focus" data-dismiss="modal">
                    Não
                </button>
            </div>
        </div>
    </div>
</div>