<!-- <ng-include src="'/app/views/em_construcao.html'"></ng-include> -->

<div class="container">
    <div class="row ">
        <div class="col-sm-4 my-5">
            <div class="card text-white shadow-sm bg-dark p-3 mb-5 rounded">
                <a href="#/alunos" class=" btn btn-info">Alunos</a>
                <div class="card-body">
                    <h5 class="card-title display-4 text-center">+25</h5>
                </div>
            </div>
        </div>

        <div class="col-sm-4 my-5">
            <div class="card text-white bg-dark shadow-sm p-3 mb-5 rounded">
                <a href="#" class=" btn btn-info">Cursos</a>
                <div class="card-body">
                    <h5 class="card-title display-4 text-center">+3</h5>
                </div>
            </div>
        </div>

        <div class="col-sm-4 my-5">
            <div class="card text-white bg-dark shadow-sm p-3 mb-5 rounded">
                <a href="#" class=" btn btn-info">Matrículas</a>
                <div class="card-body">
                    <h5 class="card-title display-4 text-center">+17</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <input type="text" limit="true" validate="true" placeholder="(00)0000-0000" clean="true" name="phone2" mask="(99) 9?9999-9999" ng-model="vm.phone2">
{{ vm.phone2 }}
<input type='text' mask="(99) 9?9999-9999" placeholder="(00)0000-0000" ng-model="vm.phone2" />
<input type='text' placeholder="{{vm.phone2}}" /> -->

<!-- <input type="text" ng-model="vm.telefone" ui-mask="99999" ui-mask-placeholder ui-mask-placeholder-char="0" />
{{ vm.telefone }} -->

<!-- <button type="button" class="btn btn-primary"
    ng-click="$rootScope.exibirMensagem = !$rootScope.exibirMensagem">exibir</button>
<div class="alert alert-warning alert-dismissible fade show" role="alert" ng-if="$rootScope.exibirMensagem"
    ng-click="$rootScope.exibirMensagem = !$rootScope.exibirMensagem">
    <strong>Holy guacamole!</strong> You should check in on some of those fields below.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div> -->