<!-- <ng-include src="'/app/views/em_construcao.html'"></ng-include> -->

<div class="container">
    <div class="row ">
        <div class="col-sm-4 my-5">
            <div class="card text-white shadow-sm bg-dark p-3 mb-5 rounded">
                <a href="#/alunos" class=" btn btn-info">Alunos</a>
                <div class="card-body">
                    <h5 class="card-title display-4 text-center">+25</h5>
                </div>
            </div>
        </div>

        <div class="col-sm-4 my-5">
            <div class="card text-white bg-dark shadow-sm p-3 mb-5 rounded">
                <a href="#" class=" btn btn-info">Cursos</a>
                <div class="card-body">
                    <h5 class="card-title display-4 text-center">+3</h5>
                </div>
            </div>
        </div>

        <div class="col-sm-4 my-5">
            <div class="card text-white bg-dark shadow-sm p-3 mb-5 rounded">
                <a href="#" class=" btn btn-info">Matrículas</a>
                <div class="card-body">
                    <h5 class="card-title display-4 text-center">+17</h5>
                </div>
            </div>
        </div>
    </div>
</div>