<nav class="navbar navbar-expand-sm bg-light w-50 shadow-sm p-2 mb-4 mt-2 container rounded-pill col-4">
    <div class="container align-middle">

        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarHome">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarHome">
            <!-- <a class="text-decoration-none mr-auto ml-auto text-uppercase font-weight-bolder font-italic text-black-50" href="#">
            </a> -->

            <ul class="nav ml-auto mr-auto justify-content-center">
                <li class="nav-item">
                    <a href="#" class="nav-link">Início</a>
                </li>
                <li class="nav-item">
                    <a href="#/alunos" class="nav-link">Alunos</a>
                </li>
                <li class="nav-item">
                    <a href="#/cursos" class="nav-link">Cursos</a>
                </li>
                <li class="nav-item dropdown">
                <li class="nav-item">
                    <a href="#/matriculas" class="nav-link">Matrículas</a>
                </li>
                </li>
            </ul>
        </div>
    </div>
</nav>