<nav class="navbar navbar-expand-sm bg-light w-50 shadow-sm p-2 mb-4 container rounded-bottom col-4">
    <div class="container align-middle">

        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarHome">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarHome">
            <!-- <a class="text-decoration-none mr-auto ml-auto text-uppercase font-weight-bolder font-italic text-black-50" href="#">
            </a> -->

            <ul class="nav ml-auto mr-auto justify-content-center">
                <li class="nav-item">
                    <a href="#" class="nav-link">Início</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Alunos</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Cursos</a>
                </li>
                <li class="nav-item dropdown">
                    <a id="dropdownHome" href="#" data-toggle="dropdown" class="nav-link dropdown-toggle">Matrículas</a>
                    <div class="dropdown-menu bg-info">
                        <a href="#" class="dropdown-item">Nova</a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">Ativas</a>
                        <a href="#" class="dropdown-item">Inativas</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>